{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit harum numquam doloremque voluptatum. Magni, qui
            doloremque soluta, ipsam, neque voluptatum veritatis accusantium natus atque reprehenderit obcaecati. Reiciendis
            unde, magni libero nobis fugiat eligendi repellat veniam beatae iste, magnam, quam accusantium sunt! Omnis,
            eligendi saepe esse ad totam rerum quis optio quibusdam, eveniet quod et, ullam quo? Eum quis mollitia aliquam,
            expedita harum porro maiores quos id veniam deleniti, debitis neque enim et laborum temporibus? Pariatur sunt
            illum commodi. Sequi odit est quo voluptatibus tempora ipsa sit debitis dicta porro qui velit nulla distinctio
            totam sunt, omnis sint laborum in explicabo?</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>

    </section>
</main>

{% endblock %}